@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Prata&display=swap");
@import "tailwindcss";

a.active hr {
  display: block;
}
* {
  font-family: outfit;
}
.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}
@media (max-width: 640px) {
  a.active {
    background-color: black;
    color: white;
  }
}
